body {
  background-image: url('https://ik.imagekit.io/l7uslhlci/IMG_3493.jpeg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
}
